body{
    background:  linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url("https://wallpaperaccess.com/full/4893798.jpg") center;
}

.page-item.active .page-link{
    background-color: #121212!important;
    border-color: #121212!important;
}